<div id="index" class="container">
  <section id="wrapper" class="main-content">
    <div class="row">
      <div id="headerView" class="col-xs-12" ui-view="header"></div>
      <div id="mainView" class="col-xs-12" ui-view="main"></div>
    </div>
  </section>
</div>
