<section id="main">
  <div class="col-xs-6 col-xs-offset-3">
    <accordion id="namesacc" close-others="false">
      <accordion-group heading="{{person.name}}" is-open="true" is-disabled="false" ng-repeat="person in people track by $index">
        <input type="text" ng-model="person.name" _id="{{person._id}}" ng-blur="update($index)" placeholder="name"></input>
        <button ng-click="update($index)" class="btn btn-success">Save</button>
        <button ng-click="del($index)" class="btn btn-danger">Delete</button>
      </accordion-group>
    </accordion>
      <button ng-click="add()" class="btn btn-info">Add</button>
  </div>
</section>
