<div id="popup" class="text-center">
  <h4 class="modal-header col-xs-12">{{heading}}</h4>
  <img ng-src='{{img}}' class='col-xs-12'>
  <div class="row">
    <button class='btn btn-primary' ng-click='ok()'>Close</button>
  </div>
</div>
